@import "./layout/normalize.css";
@import "./layout/base.css";

@import "./blocks/section-title.css";
@import "./blocks/btn.css";

@import "./blocks/main-page.css";
@import "./blocks/second-page.css";
@import "./blocks/header.css";
@import "./blocks/menu.css";
@import "./blocks/contacts.css";
@import "./blocks/work-time.css";
@import "./blocks/hero.css";
@import "./blocks/breadcrumbs.css";
@import "./blocks/services.css";
@import "./blocks/service.css";
@import "./blocks/partners.css";
@import "./blocks/tours.css";
@import "./blocks/tour.css";
@import "./blocks/included.css";
@import "./blocks/news.css";
@import "./blocks/pagination.css";
@import "./blocks/about.css";
@import "./blocks/footer.css";
@import "./blocks/social.css";


