body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 1.42;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
}

.btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 18px 39px;
    border-radius: 35px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: #fff;
    color: #fff;
    transition: 0.3s;
}

.btn_primary {
    background-color: #F5170E;
    border-color: #F5170E;
}

.btn_second {
    color: #F5170E;
    border-color: #F5170E;
}

.btn_second:hover {
    background-color: #F5170E;
    color: #fff;
}

.pagination_dark_theme {
    color: #000;
}

.main-page {
    background-color: #001821;
    background-image:
            url("./images/main-top-bg.png"),
            url("./images/main-bottom-bg.png");
    background-position:
            top center,
            bottom  164px center;
    background-repeat: no-repeat;
}

.main-page__header {
   margin-bottom: 94px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}

.header__logo {
    margin-right: 79px;
}

.header__menu {
    flex-grow: 1;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.menu__item {
    margin-right: 54px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
}

.menu__item_active .menu__link {
    color: #DA0100;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    font-style: normal;
}

.contacts__phone {
    font-size: 26px;
    text-decoration: none;
}

.contacts__work-time {
    text-align: right;
    cursor: pointer;
}

.work-time {
    position: relative;
}

.work-time::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    top: 100%;
    left: 0;
}

.work-time__title {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
    transition: 0.3s;
}

.work-time__description {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    text-align: left;
    background-color: #CDD1D2;
    color: #000;
    border-radius: 4px;
    padding: 12px 19px;
}

.work-time__description::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 44px;
    border: 10px solid transparent;
    border-bottom-color: #CDD1D2;
}

.work-time:hover > .work-time__description {
    display: block;
}

.work-time:hover > .work-time__title {
    color: inherit;
}

.work-time__description-field {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 4px;
}

.work-time__description-field_font_normal {
    font-weight: 600;
}

.page__hero {
    max-width: 511px;
    margin-bottom: 244px;
}

.hero__heading {
    font-size: 72px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.4;
}

.hero__sub-heading {
    font-size: 18px;
    margin-bottom: 29px;
}

.page__tour {
    margin-bottom: 127px;
}

.tours__heading {
    margin-top: 0;
    margin-bottom: 51px;
}

.tours__heading::after {
    content: url("./images/flame.png");
    padding-left: 14px;
}

/* Flexbox для блока
.tours__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tour {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.tours__item {
    width: calc(100% / 3 - 14px);
}
*/

/* inline-block для блока */

.tours__list {
    font-size: 0;
}

.tours__item {
    width: calc(100% / 3 - 18px);
}

.tour {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-right: 27px;
}

.tour:last-child {
    margin-right: 0;
}

/* end inline-block для блока */

.tour__picture {
    max-height: 144px;
    overflow: hidden;
    margin-bottom: 33px;
}

.tour__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tour__content {
    padding: 0 20px 25px 20px;
}

.tour__title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 13px;
}

.tour__included {
    margin-bottom: 24px;
}

.included {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.included__item {
    font-size: 16px;
    color: #666;
    width: 50%;
}

.included__item_icon_night::before {
    content: url("./images/calendar.png");
    position: relative;
    top: 6px;
    left: 6px;
    margin-right: 14px;
}

.included__item_icon_breakfast::before {
    content: url("./images/meal.png");
    position: relative;
    top: 6px;
    margin-right: 9px;
}

.tour__description {
    font-size: 14px;
    color: #303030;
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 1.5;
}

.tour__button {
    padding: 18px 30px;
}

.page__news {
    margin-bottom: 246px;
}

.news__heading {
    margin-bottom: 51px;
    margin-top: 0;
}

.news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 50px;
}

.news__item {
    position: relative;
    width: calc(50% - 25px / 2);
    height: 394px;
    overflow: hidden;
    border-radius: 5px;
}

.news__link {
    display: block;
}

.news__content {
    position: absolute;
    top: 250px;
    left: 28px;
    right: 30px;
}

.news__date {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 13px;
}

.news__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 4px;
}

.news__sub-title {
    font-size: 16px;
    margin: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__display {
    font-size: 16px;
    margin-right: 25px;
}

.pagination__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pagination__item {
    margin-right: 1px;
    width: 32px;
    height: 32px;
}

.pagination__item_active {
    background-color: #fff;
    color: #F5170E;
    border-radius: 50%;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__link {
    display: block;
    color: inherit;
    text-decoration: none;
    text-align: center;
    line-height: 32px;
}

.page__about {
    margin-bottom: 53px;
}

.about {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #000;
}

.about__left-block {
    position: absolute;
    left: 0;
    bottom: 44px;
    overflow: hidden;
    border-radius: 5px;
}

.about__right-block {
    position: relative;
    width: 785px;
    height: 455px;
    overflow: hidden;
    border-radius: 5px;
}

.about__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80px;
    right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about__heading {
    margin-top: 0;
    margin-bottom: 37px;
    color: #000;
}

.about__description {
    font-size: 16px;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 41px;
}

.about__link {
    display: inline-block;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #30434B;
    padding: 40px 0 50px 0;
}

.footer__logo {
    margin-right: 79px;
}

.footer__menu {
    flex-grow: 1;
}

.footer__social {
    margin-right: 74px;
}

.social__list {
    display: flex;
}

.social__item {
    margin-right: 10px;
    opacity: 0.4;
    transition: 0.3s;
}

.social__item:last-child {
    margin-right: 0;
}

.social__item:hover {
    opacity: 1;
}

.footer__contacts {
    text-align: right;
}

.contacts__text {
    font-size: 11px;
    color: #9a9a9a;
    margin-bottom: 6px;
}
