.breadcrumbs {
    color: #9a9a9a;
}

.breadcrumbs__list {
    display: flex;
    justify-content: flex-start;
}

.breadcrumbs__item {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    margin-right: 13px;
}

.breadcrumbs__item::after {
    content: "/";
    position: absolute;
    left: calc(100% + 4px);
}

.breadcrumbs__item:last-child::after{
    content: none;
}

.breadcrumbs__link {
    font-weight: 400;
}