.btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 18px 39px;
    border-radius: 35px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: #fff;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.btn_type_primary {
    background-color: #F5170E;
    border-color: #F5170E;
}

.btn_type_primary:hover {
    background-color: #DA0100;
    opacity: 0.9;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn_type_second {
    color: #F5170E;
    border-color: #F5170E;
}

.btn_type_second:hover {
    background-color: #F5170E;
    color: #fff;
}

.btn_type_dark {
    background-color: #2B2B2B;
    padding: 18px 43px;
}

.btn_type_dark:hover {
    background-color: #8E8E8E;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}