.second-page {}

.second-page__header-container {
    background: #01131D url("../../images/bg/second-page-bg.png") top center no-repeat;
    min-height: 413px;
    margin-bottom: 96px;
}



.second-page__header {
    margin-bottom: 66px;
}

.second-page__logo {
    margin-right: 68px;
}

.second-page__hero {
    margin-bottom: 103px;
}

.second-page__services {
    margin-bottom: 83px;
}

.second-page__content {
    color: #000;
}

.second-page__footer {
    background-color: #001821;
}


