.tours__heading {
    display: inline-block;
    margin-bottom: 51px;
    position: relative;
}

.tours__heading::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -50px;
    padding-left: 14px;
    width: 21px;
    height: 28px;
    background: url("../../images/icons/sprites.png") -178px -106px;
}


.tours__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tours__item {
    width: calc(100% / 3 - 18px);
}
