.work-time {
    position: relative;
}

.work-time::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: 100%;
    left: 0;
}

.work-time__title {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
    transition: 0.3s;
}

.work-time__description {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    text-align: left;
    background-color: #CDD1D2;
    color: #000;
    border-radius: 4px;
    padding: 12px 19px;
    white-space: nowrap;
}

.work-time__description::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 44px;
    border: 10px solid transparent;
    border-bottom-color: #CDD1D2;
}

.work-time:hover > .work-time__description {
    display: block;
}

.work-time:hover > .work-time__title {
    color: inherit;
}

.work-time__description-field {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 4px;
}

.work-time__description-field_font_normal {
    font-weight: 600;
}
